<% if dog_signed_in? %>
	<% temp = current_dog.name %>
	<li>
  <%= link_to('Logout', destroy_dog_session_path, :method => :get) %>        
  </li>

	<p> Welcome <%= temp  %></p>
  
  
<% else %>
  <li>
  <%= link_to('Login', new_dog_session_path)  %>  
  </li>
<% end %>