/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


ul.hmenu {
  list-style: none; 
  margin: 0 0 2em;
  padding: 0;
  color: blue;	
}

ul.hmenu li {
  display: inline;  
}


ul.top-bar {
	position: absolute;
	top: 0;
	right: 100px;
	list-style: none; 
	padding: 0;
	color: white;
	font-size: 150%;
}
a.button {
  &:visited {
    color: white !important;
  }
}

.blue {
	color: red;	

}

body {
	background-color: #99e600;
	padding-left: 100px;
}

.tab {
	margin-left: 40px;
}

.box {
	border: 2px solid black;
	width: 200px;
	height: 30px;
	background-color: #ffffe5;
	text-align: left;
}

.header {
	font-size: 80px;
	text-align: center;
	padding-top: 200px;
}
